body {
    background: #3b4f69;
    width: 1200px;
    margin: 0 auto;
}

.score {
    position: relative;
    left: 40%;
    top: 127px;
    font-size: 50px;
    font-family: 'Comic Sans MS';
    color: gold;
    transition: 1s;
}

#score {
    position: relative;
    top: -118px;
    left: 239px;
}

#timer {
    position: relative;
    left: 49%;
    font-size: 50px;
    font-family: 'Comic Sans MS';
    color: #d3d2ca;
}

img {
    position: relative;
    width: 5px;
    height: 55px;
    transition-duration: .2s;
}

#field {
    width: 800px;
    height: 500px;
    border: 2px solid;
    margin: 0 auto;
    position: relative;
    top: 100px;
    overflow: hidden;
}

.airBaloon{
    position: relative;
    width: 20px;
    height: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background: #b4e391;
    background: -moz-radial-gradient(center, ellipse cover, #b4e391 0%, #61c419 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b4e391), color-stop(100%,#61c419));
    background: -webkit-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 100%);
    background: -o-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 100%);
    background: -ms-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 100%);
    background: radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#61c419',GradientType=1 );

    -webkit-box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000;
    -moz-box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000;
    -ms-box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000;
    -o-box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000;
    box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000;
}

.airBaloon:after {
    content: "";

    width: 20px;
    height: 20px;

    -moz-border-radius: 40px / 20px;
    -ms-border-radius: 40px / 20px;
    -webkit-border-radius: 40px / 20px;
    -o-border-radius: 40px / 20px;
    border-radius: 40px / 20px;

    position: relative;
    left: 0px;
    top: 0px;

    background: #fff;

    background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
    background: linear-gradient(top, rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
}